<!-- ici on peut mélanger du code html et des fonctions avec EJS -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pain sur la planche</title>
    <link rel="stylesheet" href="css/styles.css">
    
</head>
<body>
    <div class="box" id="heading">
        <h1><%= kindOfDay %> </h1>
    </div>
    
    <div>        
        <h2>Projets en cours et en attente</h2>
    </div>

    <div class="box">
        <!-- création d'une boucle pour créer une puce à chaque nouvelle entrée d'item -->
        <% for(let i=0; i<newListItems.length; i++){%>
            <!-- et attention aux ; et pas , dans la boucle, sans espace entre les éléments -->
        <!-- attention à bien changer dans app.js le nom de la liste, passée au pluriel -->
        
        <div class="item">
            <input type="checkbox">
            <p><%= newListItems[i] %></p>
            <!-- pour rendre la valeur de newListItems à l'index i les symboles diffèrent légèrement -->
            <!-- la puce sera créée avec l'élément ajouté (index i) dans le tableau newListItems -->
        </div>
        <% } %>
            
        <!-- formulaire d'entrée d'un nouvel item, avec la méthode de publication "post" renvoyant à la route d'accueil -->
        <form class="item" action="/" method="post">
            <input type="text" name="newItem" placeholder="Nouvelle idée de projet" autocomplete="off">
            <button type="submit" name="button">+</button>
        </form>
    </div>

</body>
</html>